 @font-face {
     font-family: 'JosefinSans-Regular-7';
     src: url('./JosefinSans-Regular-7.ttf');
     font-weight: normal;
     font-style: normal;
 }
 
 body {
     margin: 0;
     /*外边距*/
     padding: 0;
     /*内边距*/
     background: url(./tu.jpg);
     background-size: 400px 225px;
     /*背景颜色*/
 }
 /*玻璃的css*/
 
 .dock {
     backdrop-filter: blur(1px);
     position: fixed;
     top: 10px;
     left: 20px;
     z-index: 30;
     /*width: 100%;*/
     right: 20px;
     border-radius: 30px;
     padding: 10px 20px;
     -webkit-backdrop-filter: blur(15px);
     backdrop-filter: blur(15px);
     /*玻璃边框*/
     border: 1px solid rgb(119, 120, 122)
 }
 
 .word {
     font-family: "JosefinSans-Regular-7";
     font-size: 75px;
     text-align: center;
     color: white;
 }
 
 .title {
     font-family: 'Times New Roman', Times, serif;
     font-size: 35px;
     text-align: center;
     color: rgb(255, 255, 255);
 }
 /*按钮的css*/
 
 neon:hover {
     animation: animate 8s linear infinite normal;
     /*动画: 名称 时间 线性 循环 播放完回退播放*/
 }
 
 @keyframes animate {
     0% {
         background-position: 0%;
         /*修改背景定位，实现渐变色炫光*/
     }
     50% {
         background-position: 100%;
     }
     100% {
         background-position: 0%;
     }
 }
 
 neon::before {
     /*之前添加*/
     content: '';
     /*内容*/
     position: absolute;
     /*绝对定位*/
     top: -5px;
     /*当设置对立的2个定位属性时，元素的大小将由对立的大小决定*/
     left: -5px;
     right: -5px;
     bottom: -5px;
     /*当设置对立的2个定位属性时，元素的大小将由对立的大小决定*/
     z-index: -1;
     background: linear-gradient( 90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
     border-radius: 30px;
     background-size: 400%;
     filter: blur(20px);
     /*过渡：模糊*/
     opacity: 0.5;
     /*透明度*/
     transition: 1s;
     /*过渡时间*/
 }
 
 neon:hover::before {
     animation-play-state: running;
     filter: blur(20px);
     opacity: 0.5;
     animation: animate 8s linear infinite;
     /*注意动画名称统一*/
 }
