     @font-face {
         font-family: 'JosefinSans-Regular-7';
         src: url('./JosefinSans-Regular-7.ttf');
         font-weight: normal;
         font-style: normal;
     }
     
     body {
         margin: 0;
         /*外边距*/
         padding: 0;
         /*内边距*/
         background: url(./tu.jpg);
         background-size: 400px 225px;
         /*背景颜色*/
     }
     
     .dock {
         backdrop-filter: blur(1px);
         position: fixed;
         top: 10px;
         left: 20px;
         z-index: 30;
         /*width: 100%;*/
         right: 20px;
         border-radius: 50px;
         padding: 10px 20px;
         -webkit-backdrop-filter: blur(15px);
         backdrop-filter: blur(15px);
         border: 0.1px solid rgb(119, 120, 122)
     }
     
     .word {
         font-family: "JosefinSans-Regular-7";
         font-size: 75px;
         text-align: center;
         color: white;
     }
     
     .title {
         font-family: 'Times New Roman', Times, serif;
         font-size: 35px;
         text-align: center;
         color: rgb(255, 255, 255);
     }
